* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-cont {
    width: 80%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header-cont ul {
    list-style: none;
}

.header-cont ul li {
    display: inline-block;
    padding: 5px;
}

.header-cont ul li .link {
    text-decoration: none;
    color: #7b5244;
    position: relative;
    padding: 10px 19px;
    display: block;
    font-weight: bold;
}

.header-cont nav ul li .link:before,
.header-cont nav ul li .link:after {
    content: "";
    position: absolute;
    border-style: solid;
    left: 0;
    top: 0;
    transition: transform 0.2s;
}

.header-cont nav ul li .link:before {
    border-width: 0 2px;
    height: 100%;
    width: 95%;
    transform: scale3d(1, 0, 1);
}

.header-cont nav ul li .link:hover:before {
    transform: scale3d(1, 1, 1);
}

.header-cont nav ul li .link:after {
    border-width: 2px 0;
    height: 91%;
    width: 98%;
    transform: scale3d(0, 1, 1);
    transform-origin: left;
}

.header-cont nav ul li .link:hover:after {
    transform: scale3d(1, 1, 1);
    transition-delay: .2s;
}

.list1-menu-fhahter {
    position: relative;
}

.list1-menu {
    position: absolute;
    width: 450px;
    height: 150px;
    line-height: 25px;
    border: 2px solid #7b5244;
    background-color: #fff;
    padding: 10px;
    margin-top: 5px;
    transform: scale(0);
    transition: transform 0.5s, visibility .5s;
    opacity: 0;
}

.list1-menu-fhahter:hover .list1-menu {
    transform: scale(1);
    opacity: 1;
}

.list1-menu-fhahter ul {
    display: table-cell;
}

.list1-menu-fhahter ul li {
    line-height: 1PX;
}

.list1-menu-fhahter ul li a {
    text-decoration: dotted;
    color: #7b5244;
}

.line-tabl {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #7b5244;
    position: relative;
}

.fa-cart-plus {
    position: relative;
    margin-right: 15px;
}

.fa-cart-plus::after {
    position: absolute;
    content: "0";
    background-color: #7b5244;
    color: #fff;
    border-radius: 50%;
    padding: 4px;
    font-size: 13px;
    bottom: -9px;
}

.imge-main-container {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.imge-main-container img {
    margin: 30px 0;
    width: 90%;
    height: 70vh;
}

.header-for-sec {
    width: 100vw;
    height: 25px;
}

.header-for-sec h2 {
    font-size: 35px;
    font-weight: bold;
    margin-left: 41%;
}

.category {
    width: 100vw;
    /* height: 100vh; */
}

.header-for-sec .line {
    display: block;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    height: 2px;
    background-color: #7b5244;
    transition: width .5s;
    margin-bottom: 20px;
}

.header-for-sec:hover .line {
    width: 150px;
}

/* /////////////////////////////////////////////////// */
.category-contianer {
    width: 90%;
    margin: auto;
}

.category-products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    margin-top: 40px;
}

.category-products img {
    width: 100%;
    margin-bottom: 20px;
}

.category-product {
    position: relative;
}

.category-product .fas {
    width: 30px;
    height: 30px;
    background-color: brown;
    color: #fff;
    text-align: center;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
}

.category-product:hover .fas {
    visibility: visible;
    opacity: 1;
}

.category-product-subtitle {
    text-align: center;
    font-size: larger;
    color: rgba(128, 128, 128, 0.884);
}

.category-product h2 {
    font-size: 20px;
    text-align: center;
}

/* ///////////////////////////////////////////////// */
.discount {
    display: flex;
    margin-top: 25px;
    width: 95%;
    position: relative;
    line-height: 15px;
}

.discount-1 {
    width: 45%;
    background-color: #f7f3ef9d;
    font-size: large;
    padding: 20px;
    height: 50vh;
    position: relative;
}

.discount-1 .fa-lg {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 50px;
    color: #7b5244;
}

.discount-1-h {
    margin: 0px 0px 0px 48px;
}

.discount-1-span {
    margin-left: 48px;
    line-height: 25px;
}

.discount-1 p {
    line-height: 1.5;
    padding-top: 25px;
}

.discount-1 .line {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.line span {
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #7b5244;
    margin-right: 10px;
}

.discount-item {
    flex: 1;
    margin-left: 20px;
    height: 60vh;

}

.discount-item .baner1 {
    background-image: url(../images/cms-banner-1\ \(1\).jpg);
    background-size: cover;
    height: 80%;
    transition: 0.5s;
}

.discount-item .baner1:hover {
    transform: scale(1.1);
}

.discount-item .baner2 {
    background-image: url(../images/cms-banner-1\ \(2\).jpg);
    background-size: cover;
    height: 80%;
    transition: 0.5s;
}

.discount-item .baner2:hover {
    transform: scale(1.1);
}

.discount-item .baner1 h3,
.discount-item .baner2 h3 {
    color: #7b5244;
    padding-left: 20px;
    padding-top: 25px;
}

.discount-item .baner1 h2,
.discount-item .baner2 h2 {
    color: #050505;
    padding-left: 20px;
    padding-top: 10px;
}

.dddd4 {
    width: 50px;
    height: 50px;
}

/* ////////////////////////// */
.sprits {
    display: flex;
    width: 90%;
    margin: auto;
}

.sprit-item {
    width: 45px;
    flex: 1;
    margin-bottom: 30px;
    border-right: 1px solid #7b5244;
    text-align: center;
}

#bord-non {
    border-right: 0px;
}

.sprit-photo {
    background-image: url(../images/service-icon\ \(1\).png);
    height: 60px;
    background-repeat: no-repeat;
}

.sprit-info span {
    color: gray;
    padding: 10px;
    font-size: 15px;
}

.phot1 {
    background-position: center 0px;
    transition: 0.5s;
}

.sprit-item:hover .phot1 {
    background-position: center -90px;
}

.phot2 {
    background-position: center -180px;
    transition: 0.5s;
}

.sprit-item:hover .phot2 {
    background-position: center -270px;
}

.phot3 {
    background-position: center -368px;
    transition: 0.5s;
}

.sprit-item:hover .phot3 {
    background-position: center -458px;
}

.phot4 {
    background-position: center -550px;
    transition: 0.5s;
}

.sprit-item:hover .phot4 {
    background-position: center -640px;
}

.phot5 {
    background-position: center -735px;
    transition: 0.5s;
}

.sprit-item:hover .phot5 {
    background-position: center -825px;
}

/* ///////////////////////////////////////// */
.Featured-list {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    font-size: 19px;
}

.Featured-list ul li {
    list-style: none;
    display: inline-block;
    padding: 30px;
}

/* ///////////////////////////////////////// */
.Featured-items-pearant {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    margin: 15px 20px;
    align-items: center;
}

.Featured-item-1 {
    position: relative;
}

.Featured-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: scalex(0);
    opacity: 0.9;
    transition: 0.2s;
}

.Featured-overlay ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Featured-overlay ul li {
    width: 40px;
    height: 40px;
    background-color: #7b5244;
    display: inline-block;
    text-align: center;
}

.Featured-overlay ul li i {
    color: white;
    line-height: 40px;
    font-size: 19px;
}

.Featured-items:hover .Featured-overlay {
    transform: scalex(1);
}

.product-info i.active {
    color: yellow;
}

.product-info span {
    display: block;
    margin: 10px 0;
}

.product-info i {
    margin-top: 15px;
}

.product-info .fff {
    background-color: white;
    border: 1px solid black;
}

footer {
    background-color: gray;
    height: 60px;
    width: 100%;
    margin-top: 50px;
}

footer .div-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: auto;
}

.footer-list li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    background-color: rgb(77, 77, 226);
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.footer-list li a {
    color: white;
    font-size: 20px;
}